.slide.page-heading {
	background-color: #08BF91;
	padding: 140px 0 70px 0;
}
.slide.page-heading .container {
    padding: 0px !important;
}
.slide.page-heading h3 {
	color: #fff;
	font-size: 39px;
	display: block;
	margin: 0 auto;
}
@media (max-width: 640px)
.slide.page-heading h3 {
    font-size: 16px;
}
.faq-question{
	margin: 12px 0;
	color: #08BF91;
	font-size: 18px;
	padding-left: 20px;
	padding-right: 20px;
}
.faq-answer{
	padding: 12px 20px;
	color: #666;
	background: #fff;
	font-size: 16px;
	text-indent: 2em;
	margin: 12px 0;
	line-height: 30px;
}
.faq-header {
	margin: 0 auto 30px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}
.faq-title {
	display: inline-block;
	padding: 8px 16px;
	color: #fff;
	background: #08BF91;
	font-size: 21px;
}
.slide.services {
background-color: #fff;
padding-top: 50px;
}
.xieyi_con {
    width: 100%;
    height: auto;
    margin-top: 3rem;
    overflow: auto;
    background: #f9fafa;
    border: 1px solid #e1e1e1;
    padding: 18px;
   
}
.col-sm-6 {
    margin: 15px 0;
    text-align: center;
}
.btn-success.down-but-box{
	color: #fff;
}
.btn-success .btn-info ,.btn-info.course-but{
	color:#fff;


}
@media (min-width: 992px){

.xieyi_con {
    width: 100%;
    height: 500px;
    margin-top: 3rem;
    overflow: auto;
    background: #f9fafa;
    border: 1px solid #e1e1e1;
    padding: 18px;
    overflow-y:auto !important;
}
.col-sm-6 {
    margin-top: 30px;
    text-align: initial;
    color: #fff;

}

.btn-success.down-but-box {
    background-color: #26B99A;
    border-color: #26B99A;
    font-size: 1.5rem;
    height: 50px;
    width:180px;
    float: right;
    color: #fff;
    font-weight: 600;
}
.btn-info.course-but {
    background-color: #a4d70d;
    border-color: #a4d70d;
    width: 180px;
    margin-top: 0;
    height: 50px;
    float: left;
    color: #fff !important;
    font-size: 1.5rem;
    font-weight: 600;
}
.btn-success .btn-info{
    font-size: 1.6rem;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    width: 100%;
}
}
.slide .container .col {
    line-height: 220%;
}